<form>
    <field>
        <id>InterfaceSettings.DisableHardwareCRC</id>
        <label>Disable hardware checksum (CRC) offload</label>
        <type>checkbox</type>
        <help>
            Checking this option will disable hardware checksum offloading.
            Checksum offloading is broken in some hardware, particularly some
            Realtek cards. Rarely, drivers may have problems with checksum
            offloading and some specific NICs.
        </help>
    </field>
    <field>
        <id>InterfaceSettings.DisableHardwareTSO</id>
        <label>Disable hardware TCP segmentation offload (TSO)</label>
        <type>checkbox</type>
        <help>
            Checking this option will disable hardware TCP segmentation
            offloading (TSO, TSO4, TSO6). This offloading is broken in some
            hardware drivers, and may impact performance with some specific
            NICs.
        </help>
    </field>
    <field>
        <id>InterfaceSettings.DisableHardwareLRO</id>
        <label>Disable hardware large receive offload (LRO)</label>
        <type>checkbox</type>
        <help>
            Checking this option will disable hardware large receive
            offloading (LRO). This offloading is broken in some hardware
            drivers, and may impact performance with some specific NICs.
        </help>
    </field>
    <field>
        <id>InterfaceSettings.VLANHardwareFiltering</id>
        <label>VLAN hardware filtering</label>
        <type>dropdown</type>
        <help>
            This offloading is broken in some hardware drivers, and may impact
            performance with some specific NICs.
        </help>
    </field>
    <field>
        <id>InterfaceSettings.SuppressARPLogMessages</id>
        <label>Suppress ARP messages</label>
        <type>checkbox</type>
        <help>
            This option will suppress ARP log messages when multiple
            interfaces reside on the same broadcast domain.
        </help>
    </field>
</form>

